/* This means that when I set the padding and border on any element, its width
won't increase. */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* Need to give everything a height so Gmaps knows how tall to make the map */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#entry_box {
    position: absolute;
    height: 100%;
    left: 0px;
    max-width: 40%;
    padding: 1em;
    overflow: auto;
}
#map_box {
    height: 100%;
    margin-left: 40%;
}
