<!doctype html>
<html>
    <head>
        <title>Imprint</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="/static/mapinterface.js"></script>
        <style type="text/css">
            html, body {
                height: 100%;
                overflow: auto;
            }
            #entry_box {
                height: 30%;
                overflow: scroll;
            }
            #map_box {
                height: 70%;
                margin-bottom: 1em;
                display: block;
            }
        </style>
    </head>

    <body>
        <div id="entry_box">
            <div id="date_field">Date</div>
            <div id="lat_field">Latitude</div>
            <div id="lng_field">Longitude</div>
            <div id="entry_field">This is where the journal entry will be displayed.</div>
        </div>
        <div id="map_box">This where the map sits</div>
    </body>

</html>
