<!doctype html>
<html>
    <head>
        <title>Imprint</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="/static/mapinterface.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <style type="text/css">
        </style>
    </head>

    <body>
        <div id="entry_box">
            <span id="date_field">Date</span>
            <span id="lat_field">Latitude</span>
            <span id="lng_field">Longitude</span>
            <p id="entry_field">This is where the journal entry will be displayed.</p>
        </div>
        <div id="map_box">This where the map sits</div>
    </body>

</html>
