<!doctype html>
<html>
  <head>
    <title>Journal Captain Cook's first voyage, hipsterised</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/static/mapinterface.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
    </style>
  </head>

  <body>
    <div id="entry_box">
    </div>
    <div id="map_box"></div>
  </body>
</html>
